.signup_form {
  width: 80%;
  margin: 5% auto 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2%;
  height: 70vh;
}

p {
  text-align: center;
}

.divider {
  text-align: center;
  margin: 0 0 auto 0;
}
