.sign_in_form {
  display: flex;
  font-size: 16px;
  margin: 2em auto auto auto;
  flex-direction: column;
  padding: 1em;
  width: 85%;
  height: 70vh;

  border-radius: 0.12em;

  @media (min-width: 768px) {
    width: 70%;
    height: 80vh;
  }

  @media (min-width: 992px) {
    width: 40%;
  }

  img {
    align-self: center;
  }

  .divider {
    flex-grow: 1;
    text-align: center;
    margin: 0 0 auto 0;
  }

  p {
    text-align: center;
  }
}

// Extra small devices (phones, less than 768px): No media query since this is the default in Bootstrap

// Small devices (tablets, 768px and up): @media (min-width: @screen-sm-min) { ... }

// Medium devices (desktops, 992px and up): @media (min-width: @screen-md-min) { ... }

// Large devices (large desktops, 1200px and up): @media (min-width: @screen-lg-min) { ... }
