.notLogged_container {
  width: 50%;
  height: 60vh;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
}
